@import 'base/variables';
@import 'mixins/animations';
@import 'partials/presentation';
@import 'partials/skills';
@import 'partials/cards';

body {
    background-color: $primary-bg;
    color: $secondary-color;
    font-family: $font-family-main;
}

.container-md {
    margin-top: 20px;
    margin-right: 200px;
}

footer {
    background-color: $footer-bg-color;
    color: $secondary-color;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
}

footer a {
    color: $secondary-color;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
