$primary-bg: rgb(34, 35, 40);
$secondary-color: white;
$highlight-color: rgb(255, 125, 80);
$font-family-main: 'Montserrat', sans-serif;
$border-color: white;
$skill-border-color: #53B4DF;
$city-card-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
$footer-bg-color: #333;
